@using System
@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <p>The current time is: @DateTime.Now.ToLongTimeString()</p>
</div>

<cache expires-sliding="@TimeSpan.FromSeconds(7)">
    <div>
        <p>The current time is: @DateTime.Now.ToLongTimeString()</p>
    </div>
</cache>

<div class="row">
    <div class="col-md-6">
        <ul>
            @foreach (var person in Model.Persons)
            {
                <li>[@person.Id] @person.Firstname @person.Lastname</li>
            }
        </ul>
    </div>
    <div class="col-md-6">
        <ul>
            @foreach (var data in Model.Data)
            {
                <li>[@data.Key] @data.Value</li>
            }
        </ul>
    </div>
</div>