@using System
@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <p>The current time is: @DateTime.Now.ToLongTimeString()</p>
</div>

<cache expires-sliding="@TimeSpan.FromSeconds(7)">
<div>
    <p>The current time is: @DateTime.Now.ToLongTimeString()</p>
</div>
</cache>
@* 
<div>
    <p>@Model.Message1</p>
</div>

<div>
    <p>@Model.Message2</p>
</div> *@